//
// Bootstrap overrides
//

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: 'Raleway', arial, sans-serif;
}

.navbar {
  border-radius: 0;
  background: #3e98c7;
  background: url(/assets/background.jpg);
  background-size: cover;
  padding: 40px 0;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.1em;
  color: rgba(#fff, 0.75);
  &:hover {
    color: rgba(#fff, 1);
  }
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 2rem;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #3e98c7;

  &:hover {
    text-decoration: none;
  }
}

.img-rounded {
  border: 1px solid #dde;
}

//
// Custom
//

.stylized {
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
}
