//
// Bootstrap overrides
//

$brandFontSize: 1.6em;
$stylizedFontFamily: Open Sans, arial, sans-serif;

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: $stylizedFontFamily;
}

h2 {
  color: #888;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  border-radius: 0;
  padding: 40px 0;
}

.navbar-dark .navbar-brand {
  font-size: $brandFontSize;
  line-height: 1;
  color: #ccc;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1em;
  color: rgba(#fff, 0.75);
  &:hover {
    color: rgba(#fff, 1);
  }
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1.5rem;
}

.navbar-nav .nav-link {
  line-height: $brandFontSize;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #3e98c7;

  &:hover {
    text-decoration: none;
  }
}

.img-rounded {
  border: 1px solid #dde;
}

//
// Custom
//

.intro {
  background: #3e98c7;
  background: url(/assets/background.jpg);
  background-size: cover;
  color: #fff;
  font-family: $stylizedFontFamily;

  .lead {
    font-size: 2em;
  }
}
