//
// This file is for global CSS.
//
// Add component CSS to the ./components/ directory and
// import them into your components.
//

@import 'vendor/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
