/* Bootstrap overrides */

html, body {
  font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-font {
  font-family: Work Sans, -apple-system, arial, sans-serif;
}

.text-1 {
  font-size: 2em;
}

.text-2 {
  font-size: 1.4em;
}

.text-3 {
  font-size: 1.2em;
}

.uppercase {
  text-transform: uppercase;
}

.flex-1 {
  flex: 1;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.mb-6 {
  margin-bottom: 80px;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #3e98c7;
}

a:hover {
  text-decoration: none;
}

.img-rounded {
  border: 1px solid #dde;
}

/* Custom */

.intro {
  background: #3e98c7;
  background: url(./background.jpg);
  background-size: cover;
  color: #fff;
}

/* Nav */

.Nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.NavLink {
  margin-right: 1.6rem;
  color: rgba(255, 255, 255, 0.75);
}

.NavLink:last-child {
  margin-right: 0;
}

.NavLink:hover {
  color: rgba(255, 255, 255, 1);
}

.NavLink--active {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #fff;
}

/* Resume */

.ResumeHeader {
  color: #888;
  font-size: 1.4em;
  font-weight: normal;
  padding-bottom: 0.4em;
  border-bottom: 3px solid #ddd;
}

@media print {
  * {
    font-size: 12px;
  }

  /* Hide nav when printing */
  .hide-for-printing {
    display: none;
  }
}
