/* Bootstrap overrides */

h1, h2, h3, h4, h5, h6, .display-font {
  font-family: Work Sans, -apple-system, arial, sans-serif;
}

.text-1 {
  font-size: 2em;
}

.flex-1 {
  flex: 1;
}

.font-weight-light {
  font-weight: 300;
}

.mb-6 {
  margin-bottom: 80px;
}

.Nav {
  display: flex;
  align-items: center;
}

.NavLink {
  margin-right: 1.3rem;
  color: rgba(255, 255, 255, 0.75);
}
.NavLink:last-child {
  margin-right: 0;
}

.NavLink:hover {
  color: rgba(255, 255, 255, 1);
}

/*
.navbar {
  border-radius: 0;
  padding: 40px 0;
}

.navbar-dark .navbar-brand {
  font-size: 1.6em;
  line-height: 1;
  color: #ccc;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1.5rem;
}

.navbar-nav .nav-link {
  line-height: 1.6em;
}
*/

h3 {
  font-size: 1.4em;
}

a {
  color: #3e98c7;
}

a:hover {
  text-decoration: none;
}

.img-rounded {
  border: 1px solid #dde;
}

/* Custom */

.intro {
  background: #3e98c7;
  background: url(./background.jpg);
  background-size: cover;
  color: #fff;
  font-family: Work Sans, -apple-system, arial, sans-serif;
}

/* Resume */

.ResumeHeader {
  color: #888;
  font-size: 1.8em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ddd;
}

@media print {
  * {
    font-size: 12px;
  }
}
